<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
<form>
  <h1 >Enter a word:</h1>
  <input [(ngModel)]="model.word" type="text" name="word" placeholder="word here..."><br><br>
<button (click)='insert()'>Add</button>
<button (click)='match()'>Find match</button>
</form>
</div>

<p *ngIf="response.err" style="color:red">cgv{{response.message}}</p>
<p *ngIf="response.success" style="color:green">{{response.message}}</p>

<!--for debug-->
<pre> {{ model | json }}</pre>

<!--<router-outlet></router-outlet>-->
